@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #f6f8fc;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.nav-items > ul > li:hover {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.res-card {
  width: 250px;
  height: 350px;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 4px 4px 5px #f0f0f0;
  margin-bottom: 1rem;
  overflow: scroll;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.res-card-details {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.eta-rating-container {
  display: flex;
}

.rating {
  color: green;
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.star-rating-logo {
  width: 1.2rem;
  height: 1.2rem;
  padding-right: 0.3rem;
}

.res-heading {
  margin: 0;
}

.cuisines {
  font-weight: 100;
  padding-right: 1rem;
}
