@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #f6f8fc;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  background-color: white;
}

.food-xpress {
  margin-top: -1.3rem;
  margin-bottom: 0;
  color: #be123c;
  font-weight: 500;
}

.logo {
  padding-left: 0.5rem;
  width: 75px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.nav-items > ul > li:hover {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.res-card {
  width: 250px;
  height: max-content;
  margin-bottom: 1rem;
  overflow: scroll;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.res-logo {
  width: 100%;
  height: 180px;
  border-radius: 0.5rem;
}

.res-card-details {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.eta-rating-container {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}

.rating {
  color: green;
  display: flex;
  align-items: center;
  margin: 0;
}

.star-rating-logo {
  margin: 0;
  width: 1.2rem;
  height: 1.2rem;
  padding-right: 0.2rem;
}

.res-heading {
  margin: 0;
}

.cuisines {
  margin: 0;
  font-weight: 100;
  margin-top: -1rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem;
  padding-bottom: 0;
}

.search {
  display: flex;
}

.search input {
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-size: large;
  color: #aaa;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.filter-btn {
  cursor: pointer;
  color: #be123c;
  border: none;
  background-color: white;
  border-radius: 0.5rem;
}

.filter-btn:hover {
  transform: scale(1.03);
}

.locality {
  font-size: small;
  font-weight: 200;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.offer {
  color: #f43f5e;
  margin-left: 0.5rem;
  font-size: smaller;
  font-weight: 500;
}

.rating-count {
  color: green;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 3rem;
}

.shimmer-card {
  width: 250px;
  height: 300px;
  background-color: white;
}

.login-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: x-large;
  padding-top: 0.5rem;
}

.login {
  color: green;
}

.logout {
  color: #be123c;
}
